#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
users:
  - name: ${VM_USER}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/${VM_USER}
    shell: /bin/bash
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDEnuEI7e1bamP5idl+FfAnaejc4tYltXjHHmpzRSt+piUAUzF0wwt7/CnruKkntiPCJay1kcaPn2fq0bb3ocPanqfsOWq3XGWkHBQiyO0rQWcmDn9kqoTyki1vQgKWy4b8E+i+/R60rgM1cM158+6u+s9XBpyYEcvtGPTl2G6+MsSauiiTvmW7WRq4ekzrZ1BFy9xySPUuWqjTXDwYVZ6YHNgqSOTIDPpHsFODMMLCE2+BSEWW6krprJQJxtYr8ve/dPjGJiyjIfnvresMnSsWE5aszgPbSvhYyF2DqS1l4y1JqC0Y15dPTlOK1waY8pD1KTKIy3Q1rUr2CRkyJbDcCTj9JXqXIle+yrppmFZ2r8I3Hyj0e+84tx69vFV4S1Itl3DR6pkHK8TVJJkI0wj+HMfpZOGBtVKyA2MmJDKUQkSIRJkM+ScSltUh8cmEPAy3Gx3Tx2vLj7U2mieUAD7HIJwBk/ms7FT2eYKDtznHTW6NwQ2RAFVvpN8izkxheFk= ahag@zahaco.local
ssh_pwauth: True
disable_root: false
chpasswd:
  list: |
     root: iamroot
     ${VM_USER}:linux
  expire: False
package_update: true
package_upgrade: true
packages:
    - qemu-guest-agent
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common
    - zsh
growpart:
  mode: auto
  devices: ['/']
runcmd:
  - [ sh, -c, 'curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -' ]
  - [ sh, -c, 'sudo apt-key fingerprint 0EBFCD88']
  - [ sh, -c, 'sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"' ]
  - [ sh, -c, 'sudo apt-add-repository ppa:ansible/ansible' ]
  - [ sh, -c, 'sudo apt update' ]
  - [ sh, -c, 'sudo apt install -y docker-ce docker-ce-cli containerd.io ansible' ]
  - [ sh, -c, 'sudo usermod -aG docker ${VM_USER}' ]
 
